.stl_ sup {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
}
.stl_ sub {
	vertical-align: baseline;
	position: relative;
	top: 0.4em;
}
.stl_ a:link {text-decoration:none;}
.stl_ a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) {.stl_view{ font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.stl_layer { }.stl_ie { font-size: 1pt; }
.stl_ie body { font-size: 12em; }
@media print{.stl_view {font-size:1em; transform:scale(1);}}
.stl_grlink { position:relative;width:100%;height:100%;z-index:1000000; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	font-size: 1em;
	line-height: 0.0em;
	width: 49.58333em;
	height: 70.08334em;
	border-style: none;
	display: block;
	margin: 0em;
}

@supports(-ms-ime-align:auto) { .stl_02 {overflow: hidden;}}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 49.58333em;
}
.stl_06 {
	height: 7.008333em;
}
.stl_ie .stl_06 {
	height: 70.08334em;
}
@font-face {
	font-family:"KUBORQ+Calibri";
	src:url("../fonts/6efb2402-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.75em;
	font-family: "KUBORQ+Calibri", "Times New Roman";
	color: #000000;
}
.stl_08 {
	line-height: 1em;
}
.stl_09 {
	letter-spacing: 0.0003em;
}

.stl_ie .stl_09 {
	letter-spacing: 0.0037px;
}
@font-face {
	font-family:"VPLKOD+SimSun";
	src:url("../fonts/040cfb05-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 1.329167em;
	font-family: "VPLKOD+SimSun", "Times New Roman";
	color: #000000;
}
.stl_11 {
	letter-spacing: 0.0081em;
}

.stl_ie .stl_11 {
	letter-spacing: 0.1729px;
}
.stl_12 {
	font-size: 0.829167em;
	font-family: "VPLKOD+SimSun", "Times New Roman";
	color: #000000;
}
.stl_13 {
	letter-spacing: 0em;
}

.stl_ie .stl_13 {
	letter-spacing: 0px;
}
.stl_14 {
	letter-spacing: 0.0055em;
}

.stl_ie .stl_14 {
	letter-spacing: 0.0733px;
}
@font-face {
	font-family:"VMITEF+TimesNewRomanPSMT";
	src:url("../fonts/a7b79f19-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_15 {
	font-size: 0.829167em;
	font-family: "VMITEF+TimesNewRomanPSMT", "Times New Roman";
	color: #000000;
}
.stl_16 {
	line-height: 1.107422em;
}
.stl_17 {
	letter-spacing: 0.0013em;
}

.stl_ie .stl_17 {
	letter-spacing: 0.0167px;
}
.stl_18 {
	letter-spacing: 0.0053em;
}

.stl_ie .stl_18 {
	letter-spacing: 0.0703px;
}
.stl_19 {
	letter-spacing: 0.0052em;
}

.stl_ie .stl_19 {
	letter-spacing: 0.0695px;
}
.stl_20 {
	letter-spacing: 0.0065em;
}

.stl_ie .stl_20 {
	letter-spacing: 0.0865px;
}
.stl_21 {
	letter-spacing: 0.004em;
}

.stl_ie .stl_21 {
	letter-spacing: 0.0532px;
}
.stl_22 {
	letter-spacing: 0.0054em;
}

.stl_ie .stl_22 {
	letter-spacing: 0.0716px;
}
.stl_23 {
	letter-spacing: 0.0044em;
}

.stl_ie .stl_23 {
	letter-spacing: 0.0585px;
}
.stl_24 {
	letter-spacing: 0.0016em;
}

.stl_ie .stl_24 {
	letter-spacing: 0.0213px;
}
.stl_25 {
	letter-spacing: 0.0038em;
}

.stl_ie .stl_25 {
	letter-spacing: 0.0499px;
}
.stl_26 {
	letter-spacing: 0.0042em;
}

.stl_ie .stl_26 {
	letter-spacing: 0.0551px;
}
.stl_27 {
	letter-spacing: 0.0049em;
}

.stl_ie .stl_27 {
	letter-spacing: 0.0651px;
}
.stl_28 {
	letter-spacing: 0.0048em;
}

.stl_ie .stl_28 {
	letter-spacing: 0.0636px;
}
.stl_29 {
	letter-spacing: 0.0131em;
}

.stl_ie .stl_29 {
	letter-spacing: 0.1733px;
}
.stl_30 {
	letter-spacing: 0.0045em;
}

.stl_ie .stl_30 {
	letter-spacing: 0.06px;
}
.stl_31 {
	letter-spacing: 0.0043em;
}

.stl_ie .stl_31 {
	letter-spacing: 0.0571px;
}
.stl_32 {
	letter-spacing: 0.0047em;
}

.stl_ie .stl_32 {
	letter-spacing: 0.062px;
}
.stl_33 {
	letter-spacing: 0.005em;
}

.stl_ie .stl_33 {
	letter-spacing: 0.0667px;
}
.stl_34 {
	letter-spacing: 0.0033em;
}

.stl_ie .stl_34 {
	letter-spacing: 0.0436px;
}
.stl_35 {
	letter-spacing: 0.0017em;
}

.stl_ie .stl_35 {
	letter-spacing: 0.022px;
}
@font-face {
	font-family:"NPFVQE+Calibri-Bold";
	src:url("../fonts/928d3fcd-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_36 {
	font-size: 0.75em;
	font-family: "NPFVQE+Calibri-Bold", "Times New Roman";
	color: #17365D;
}
.stl_37 {
	letter-spacing: -0.0017em;
}

.stl_ie .stl_37 {
	letter-spacing: -0.0208px;
}
.stl_38 {
	font-size: 0.75em;
	font-family: "VPLKOD+SimSun", "Times New Roman";
	color: #17365D;
}
.stl_39 {
	letter-spacing: -0.0033em;
}

.stl_ie .stl_39 {
	letter-spacing: -0.0401px;
}
